<div class="container">
  <mat-card>
    <form [formGroup]="form" class="form">
      <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input formControlName="username" matInput />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Enter your password</mat-label>
        <input
          formControlName="password"
          matInput
          [type]="hide ? 'password' : 'text'"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>

      <button
        (click)="onSubmit()"
        [disabled]="loading || form.invalid"
        mat-button
        color="primary"
      >
        Login
      </button>

      <div class="bottom">
        <mat-progress-bar
          [mode]="loading ? 'indeterminate' : 'determinate'"
        ></mat-progress-bar>
      </div>
    </form>

    <p *ngIf="isError" class="error">username or password invalid!</p>
  </mat-card>
</div>
